<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>浙江省</key>
	<array>
		<string>杭州市</string>
		<string>萧山区</string>
		<string>余杭区</string>
		<string>桐庐县</string>
		<string>淳安县</string>
		<string>建德县</string>
		<string>富阳市</string>
	</array>
	<key>山东省</key>
	<array>
		<string>济南市</string>
		<string>青岛市</string>
		<string>淄博市</string>
		<string>枣庄市</string>
		<string>东营市</string>
		<string>烟台市</string>
		<string>潍坊市</string>
	</array>
	<key>辽宁省</key>
	<array>
		<string>沈阳市</string>
		<string>大连市</string>
		<string>鞍山市</string>
		<string>抚顺市</string>
		<string>丹东市</string>
		<string>锦州市</string>
		<string>营口市</string>
	</array>
	<key>江苏省</key>
	<array>
		<string>南京市</string>
		<string>无锡市</string>
		<string>徐州市</string>
		<string>常州市</string>
		<string>苏州市</string>
		<string>南通市</string>
		<string>连云港市</string>
	</array>
	<key>内蒙古自治区</key>
	<array>
		<string>呼和浩特市</string>
		<string>包头市</string>
		<string>乌海市</string>
		<string>赤峰市</string>
		<string>通辽市</string>
		<string>鄂尔多斯市</string>
		<string>呼伦贝尔市</string>
	</array>
	<key>福建省</key>
	<array>
		<string>福州市</string>
		<string>厦门市</string>
		<string>莆田市</string>
		<string>三明市</string>
		<string>泉州市</string>
		<string>漳州市</string>
		<string>南平市</string>
	</array>
	<key>江西省</key>
	<array>
		<string>南昌市</string>
		<string>景德镇市</string>
		<string>萍乡市</string>
		<string>九江市</string>
		<string>新余市</string>
		<string>鹰潭市</string>
		<string>赣州市</string>
	</array>
</dict>
</plist>
